html{
    font-size: 62.5%;
}

body{
    font-family: "Bree Serif", serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.header{
    position:relative;
}

.header__logo{
    display: block;
    margin: auto;
}

.footer{
    background-color: darkslateblue;
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    color: beige;
    text-align: center;
    font-size: 2.2rem;
}

.navegacion{
    background-color: darkslateblue;
    padding: 1rem 0;
}

.navegacion__servicios{
    font-size: 3rem;
    color:darkkhaki;
    padding-left: 550px;
}

.navegacion__nosotros{
    font-size: 3rem;
    color:darkkhaki;
    padding-left: 200px;
}


.curso{
    background-color: darkkhaki;
    padding: 1rem;
}

.curso__nombre{
    font-size: 4rem;
}

.curso__precio{
    font-size: 2.8rem;
    color:darkblue;
}

.curso__nombre,
.curso__precio{
    margin:1rem 0;
    text-align: center;
    line-height: 1.2;
}

img{
    /* width: 100%; */
    /* max-width: 50%; */
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
}

@media (max-width:768px){
    .curso__nombre{
        font-size: 2rem;
    }
    
    .curso__precio{
        font-size: 1.4rem;
        color:darkblue;
    }

    .navegacion{
        background-color: darkslateblue;
        padding: 1rem 0;
    }
    
    .navegacion__servicios{
        padding-left: 50px;
    }
    
    .navegacion__nosotros{
        padding-left: 300px;
    }


    @media (max-width:500px){
        
        .navegacion__servicios{
            padding-left: 50px;
        }
        
        .navegacion__nosotros{
            padding-left: 50px;
        }
    }
    
}